.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #f7f7f4;
  color: rgb(36, 32, 32);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #838e94;
    color: #f8f7f7;
  }

  &.googleSignIn {
    background-color: #4285f4;
    color: #f8f7f7;
    &:hover {
      background-color: #4671c2;
    }
  }

  &.inverted {
    background-color: #2d2e2e;
    color: white;
    border: none;

    &:hover {
      background-color: #f7f7f4;
      color: black;
      border: 1px solid black;
    }
  }
}
